#wrap {
    margin-left: 0;
    width: 100%;
    min-height: 100%;
    padding: 60px 0 200px;
}

footer.footer {
    position: absolute;
    bottom:0;
    padding-bottom:20px;
    text-align: center;
    width: 100%;
}

.main {
    margin: 100px auto;
    margin-left: 2%;
}

.fancy {
    font-family: 'Tangerine', serif;
    font-size: 62px; 
}

html {
    height: 100%;
}
html, body {
    position: relative;
    width: 100%;
    min-height: 100%;
    margin: 0;
}