#confluenceProcessingSpinner {
  .material-icons {
    font-size: 20em;
  }
  width: 100%;
  height: 98vh;
}

#confluenceResultWrapper {
  width: 80%;
  margin: auto;
  position: relative;
  #pairs {
    margin-top: 10vh;
    width: 100%;
    position: relative;

    .critical-pair {
      width: 80%;
      margin: 0px auto 3em auto;
      position: relative;
      font-size: 2em;
      border: 1px solid $md-clr-blue-grey-100;
      @media (min-resolution: 2dppx) {
        border: 2px solid $md-clr-blue-grey-100;
      }
      background: $md-clr-grey-50;
      padding: 0.5em;
      &:last-child {
        margin-bottom: 0px;
      }
    }

    .representation, .overlap {
      font-family: $mono;
    }

    .overlap {
      margin-bottom: 1em;
      &:last-child {
        margin-bottom: none;
      }
      padding: 0.5em;
      border: 1px solid $md-clr-blue-grey-200;
      @media (min-resolution: 2dppx) {
        border: 2px solid $md-clr-blue-grey-200;
      }
      background: $md-clr-grey-100;
    }
    .overlaps {
      width: 50%;
      margin: 2em auto 0px auto;
    }


    .derivations {
      width: 100%;
      .derivation {
        display: inline-block;
        .step {
          font-family: $mono;
          margin-bottom: 1em;
          padding: 0.5em;
          border: 1px solid $md-clr-blue-grey-200;
          background: $md-clr-grey-100;
          @media (min-resolution: 2dppx) {
            border: 2px solid $md-clr-blue-grey-200;
          }
          &:last-child {
            margin-bottom: 0px;
          }

          .rule {
            margin-bottom: 0.5em;
          }


        }
      }
    }

  }
}