#confluenceProcessingSpinner {
  .material-icons {
    font-size: 20em;
  }
  width: 100%;
  height: 98vh;
}

#confluenceResultWrapper {
  width: 80%;
  margin: auto;
  position: relative;
  #pairs {
    margin-top: 10vh;
    width: 100%;
    position: relative;

    .critical-pair {
      min-width: 80%;
      display: block;
      margin: 0px auto 3em auto;
      position: relative;
      font-size: 2em;
      border: 1px solid $md-clr-blue-grey-100;
      @media (min-resolution: 2dppx) {
        border: 2px solid $md-clr-blue-grey-100;
      }
      background: $md-clr-grey-50;
      padding: 0.5em;
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}