@import 'vendor/include-media';
@import 'vendor/material-color-prefixed';
@import 'partials/variables';
@import 'partials/reset';
@import 'partials/mixins';

body {
  background-color: $main-background;
  font-family: $roboto;
  font-weight: $normal-weight;
}

.wrapper {
  position: relative;
  margin-top: 2vh;
  margin-left: 2em;
  width: calc(100vw - 2em);
  height: calc(100vh - 2vh);
  padding: 0px;
}

a.active {
  pointer-events: none;
  cursor: default;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $roboto;
  font-weight: $bold-weight;
}

.wf-loading {
  visibility: hidden;
}


.top-shadow {
  position: absolute;
  width: 100vw;
  height: 5px;
  top: -5px;
  left: 0px;
  z-index: 100;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}


.paper {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
  .content {
    padding: 0.8em;
  }
}


@import 'utility/utility';
@import 'editor';
@import 'lines';
@import 'animations';
@import 'keyframes';
@import 'buttons';